
@{
    ViewBag.Title = "Log groups";
}

<script type="text/javascript">
        ({
            user: '',
            ipAddress: '',
            error: '',
            url: '',
            date: null

    })
</script>

<style>
    .search-input {
        border-radius: 5px;
        border: 1px solid #aaa;
        padding: 4px;
        width: 175px;
    }

    .search-button {
        border-radius: 5px;
        border: 1px solid #aaa;
        padding: 3px;
        width: 80px;
    }

    .log-detail-label {
        float: left;
        font-size: 9pt;
        font-weight: 700;
    }

    .name-label {
        float: right;
        background: rgb(20, 91, 134);
        margin-top: 11px;
        font-size: 11pt;
        color: white;
        padding: 11px;
        border-top-left-radius: 20px;
        border-bottom-right-radius: 20px;
    }

    .error-stack {
        width: 95%;
        min-height: 500px;
        font-family: consolas,monospace;
        color: #222;
        padding: 15px;
        border: 1px solid rgba(0, 0, 0, 0.38);
        border-radius: 4px;
    }
    
</style>

<div style="margin:0.6%; 
            margin-top: 0.2%;
            width:99%;
            font-size: small;
            font-weight: 500;">
    <table style="float:left">
        <tr>
            <td  style="text-align:right"> User Name/ID :	</td>
            <td  colspan="2">
                <input class="search-input"
                       atom-value="$[appScope.user]"
                       type="search" placeholder="User">
            </td>    
            <td style="text-align:right;width: 50px;"> Url : </td>
            <td colspan="2">
                <input class="search-input"
                       atom-value="$[appScope.url]"
                       type="search" placeholder="Url">
            </td>
        </tr>

        <tr>
            <td> User IP Address : </td>
            <td colspan="2">
                <input class="search-input"
                       atom-value="$[appScope.ipAddress]"
                       type="search" placeholder="User IP Address">
            </td>
            <td style="text-align:right;width: 50px;"> Error : </td>
            <td>
                <input  class="search-input"
                       atom-value="$[appScope.error]"
                       type="search" placeholder="Error">
            </td>
        </tr>
        <tr>
            <td></td>
            <td>
                <button class="search-button">Search</button>
            </td>
        </tr>
    </table>
    <label class="name-label" atom-text="['App Name : ' + $appScope.name]"/>


        @*<label style="font-size:14px">&nbsp;&nbsp;Search By Date:&nbsp;</label>
            <div atom-type="AtomDateField"
                 style="height:20px; font-size:13px"
                 atom-value="$[appScope.date]"
                 atom-start-year="{0}"
                 atom-end-year="{10}">
            </div>*@
</div>

@*atom-type="AtomDateControl"
         atom-start-year="{-100}"
         atom-end-year="{0}"*@

<div class="dock-left log-group-list"
     atom-type="AtomListBox"
     atom-allow-select-first="true"
     atom-items="[AtomPromise.json('/api/apps/' + $appScope.id + '/groups/',{ user: $appScope.user, ipAddress: $appScope.ipAddress,error: $appScope.error,url: $appScope.url, date: AtomDate.toShortDateString($appScope.date)} )]"
     atom-value-path="LogGroupID"
     atom-value="$[appScope.gid]">
    <div atom-template="itemTemplate">
        <h3 atom-text="{$data.Title}"></h3>
        <span class="time"
              atom-text="{AtomDate.smartDate($data.LastUpdate)}"></span>
        <span class="status"
              atom-class="{'status-' + ($data.Status || '').toLowerCase()}"
              atom-text="{$data.Status}"></span>
        <span class="total"
              atom-text="{'(' + $data.Total + ')'}"></span>
        <span class="total-users"
              atom-text="{$data.TotalUsers}"></span>
    </div>
</div>

<section class="log-item-list" style="border:none"
         atom-type="AtomDockPanel">

    <header atom-type="AtomListBox"
            id="logList"
            atom-allow-select-first="true"
            atom-items="[AtomPromise.json('/api/logs/' + $appScope.gid ,{user: $appScope.user,ipAddress: $appScope.ipAddress,error: $appScope.error,url: $appScope.url})]"
            atom-value-path="LogItemID"
            atom-value="$[appScope.lid]">
        <table atom-presenter="itemsPresenter" class="table-class" style="margin:0px; width:100%">
            <thead>
                <tr>
                    <th>User</th>
                    <th>Time</th>
                    <th>IP Address</th>
                </tr>
            </thead>
            <tbody atom-presenter="itemsPresenter">
                <tr atom-template="itemTemplate">
                    <td atom-text="{$data.User || 'N/A'}"></td>
                    <td atom-text="{AtomDate.smartDate($data.Time)}"></td>
                    <td atom-text="{$data.UserIPAddress || '---'}"></td>
                </tr>
            </tbody>
        </table>
    </header>

    <section class="log-item-detail"
             atom-type="AtomControl"
             atom-data="[$appScope.logList.selectedItem]"
             style-display="[$appScope.logList.selectedItem != null ? '' : 'none']"
             >
        <h5 atom-text="['Title : '+ $data.Title || '---']"></h5>
        <div  style="font-size: 9pt;padding:5px"><label class="log-detail-label">Url : &nbsp; </label> <label  atom-text="[$data.Url || '---']"></label></div>

        <div style="font-size: 9pt;padding:5px"><label class="log-detail-label">Method : &nbsp; </label> <label atom-text="[$data.Method || '---']"></label></div>
        
        <div style="font-size: 9pt;padding:5px"><label class="log-detail-label">Device : &nbsp; </label> <label atom-text="[$data.Device || '---']"></label></div>
       
        <div style="font-size: 9pt;padding:5px"><label class="log-detail-label">Application : &nbsp; </label> <label atom-text="[$data.Application || '---']"></label></div>
       
        <div style="font-size: 9pt;padding:5px"><label class="log-detail-label">Platform : &nbsp; </label> <label atom-text="[$data.Platform || '---']"></label></div>
       
        <div style="font-size: 9pt;padding:5px"><label class="log-detail-label">Platform Version : &nbsp; </label> <label atom-text="[$data.PlatformVersion || '---']"></label></div>

        <div style="font-size: 9pt;padding:5px"><label class="log-detail-label">User Agent : &nbsp; </label> <label atom-text="[$data.UserAgent || '---']"></label></div>

        <textarea readonly="readonly"
                  atom-value="[$data.Detail]"
                  class="error-stack"></textarea>

        

    </section>




</section>
