
@{
    ViewBag.Title = "Log groups";
}

<script type="text/javascript">
        ({
            user: '',
            ipAddress: '',
            error: '',
            url: '',
            date: null

    })
</script>

<div style="margin:0.6%; 
            width:64%;
            font-size: small;
            font-weight: 500;">
    <table>
        <tr>
            <td  style="text-align:right"> User Name/ID :	</td>
            <td  colspan="2">
                <input style=" width: 100%;"
                       atom-value="$[appScope.user]"
                       type="search" placeholder="User">
            </td>    
            <td> Url : </td>
            <td colspan="2">
                <input style=" width: 100%;"
                       atom-value="$[appScope.url]"
                       type="search" placeholder="Url">
            </td>
        </tr>

        <tr>
            <td> User IP Address : </td>
            <td colspan="2">
                <input style=" width: 100%;"
                       atom-value="$[appScope.ipAddress]"
                       type="search" placeholder="User IP Address">
            </td>
        </tr>
        <tr>
            <td style="text-align:right"> Error : </td>
            <td>
                <input style=" width: 173px;"
                       atom-value="$[appScope.error]"
                       type="search" placeholder="Error">
            </td>
            <td  style="padding-left:15px">
                <button>Search</button>
            </td>
        </tr>
    </table>



        @*<label style="font-size:14px">&nbsp;&nbsp;Search By Date:&nbsp;</label>
            <div atom-type="AtomDateField"
                 style="height:20px; font-size:13px"
                 atom-value="$[appScope.date]"
                 atom-start-year="{0}"
                 atom-end-year="{10}">
            </div>*@
</div>

@*atom-type="AtomDateControl"
         atom-start-year="{-100}"
         atom-end-year="{0}"*@

<div class="dock-left log-group-list"
     atom-type="AtomListBox"
     atom-allow-select-first="true"
     atom-items="[AtomPromise.json('/api/apps/' + $appScope.id + '/groups/',{ user: $appScope.user, ipAddress: $appScope.ipAddress,error: $appScope.error,url: $appScope.url, date: AtomDate.toShortDateString($appScope.date)} )]"
     atom-value-path="LogGroupID"
     atom-value="$[appScope.gid]">
    <div atom-template="itemTemplate">
        <h3 atom-text="{$data.Title}"></h3>
        <span class="time"
              atom-text="{AtomDate.smartDate($data.LastUpdate)}"></span>
        <span class="status"
              atom-class="{'status-' + ($data.Status || '').toLowerCase()}"
              atom-text="{$data.Status}"></span>
        <span class="total"
              atom-text="{'(' + $data.Total + ')'}"></span>
        <span class="total-users"
              atom-text="{$data.TotalUsers}"></span>
    </div>
</div>

<section class="log-item-list"
         atom-type="AtomDockPanel">

    <header atom-type="AtomListBox"
            id="logList"
            atom-allow-select-first="true"
            atom-items="[AtomPromise.json('/api/logs/' + $appScope.gid ,{user: $appScope.user,ipAddress: $appScope.ipAddress,error: $appScope.error,url: $appScope.url})]"
            atom-value-path="LogItemID"
            atom-value="$[appScope.lid]">
        <table atom-presenter="itemsPresenter" class="table-class" style="margin:0px; width:100%">
            <thead>
                <tr>
                    <th>Log</th>
                    <th>User</th>
                    <th>Time</th>
                    <th>IP Address</th>
                </tr>
            </thead>
            <tbody atom-presenter="itemsPresenter">
                <tr atom-template="itemTemplate">
                    <td atom-text="{$data.LogType}"></td>
                    <td atom-text="{$data.User}"></td>
                    <td atom-text="{AtomDate.smartDate($data.Time)}"></td>
                    <td atom-text="{$data.UserIPAddress}"></td>
                </tr>
            </tbody>
        </table>
    </header>

    <section class="log-item-detail"
             atom-type="AtomControl"
             atom-data="[$appScope.logList.selectedItem]">
        <h5 atom-text="[$data.Title]"></h5>
        <h6 atom-text="[$data.Url]"></h6>
        <h6 atom-text="[$data.Method]"></h6>
        <h6 atom-text="[$data.Device]"></h6>
        <h6 atom-text="[$data.Application]"></h6>
        <h6 atom-text="[$data.Platform]"></h6>
        <h6 atom-text="[$data.PlatformVersion]"></h6>
        <h6 atom-text="[$data.UserAgent]"></h6>
        <textarea readonly="readonly"
                  atom-value="[$data.Detail]"
                  style="width:95%;min-height:300px"></textarea>
    </section>




</section>
